<div id="fondo_menu">
    <div class="container">
        <span class="p-3 row justify-content-center " id="titulo">Scape room Goya</span>
        <span class="row justify-content-center fs-2" id="descripcion">Encuentra los objetos y escapa del cine.</span>
        <span class="p-3 row justify-content-center">
            <button class="col-6 btn btn-warning btn-lg" [routerLink]="['nivel1']">Empezar</button>
        </span>
        <span class="p-3 row justify-content-center">
            <button class="col-6 btn btn-warning btn-lg" [routerLink]="['ranking']">Ranking</button>
        </span>
    </div>
</div>